.ProjectsDetails {
    min-height: 100vh;
}

.Projects_details_hero_section {
    min-height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
    background: #f6f8ff;
    color: #001141;
}

.Projects_details_hero_section>div {
    padding-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HR_text_video {
    display: flex;
}

.HR_text {
    flex: 1;
}

.HR_text_core>div>h1 {
    font-size: 3vw;
}

.HR_text_headline_bottom_line {
    border-bottom: 10px solid #44CCFF;
    width: 8vw;
    margin-bottom: 40px;
}

.liveView_and_code>a {
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.liveView_and_code .source_code {
    margin-top: 20px;
    width: 23vw;
    padding: 15px;
    font-size: 0.96vw;
    color: #2C5C00;
    background: #D6FFB0;
}

.HR_video {
    flex: 1;
    display: grid;
    justify-content: center;
    align-items: center;
}

.HR_video video {
    width: 42vw;
    height: 369px;
}



/* Overview */
.PD_overview {
    min-height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
}

.PD_overview>h1 {
    text-align: center;
    margin-top: 77px;
}

.PD_overview>div h1 {
    font-size: 45px;
}

/* introduction */

.IntroductionSection {
    margin-top: 80px;
}

.Introduction_img_text {
    margin-top: 50px;
    display: flex;
    gap: 70px;
}

.IntroductionHeadline {
    justify-items: right;
}

.IntroductionHeadline>div {
    display: grid;
    justify-items: right;
}

.IntroductionHeadline>div>h1 {
    font-size: 45px;
}

.IntoHeadlineBottom {
    height: 10px;
    background: black;
    width: 185px;
    display: grid;
    justify-items: right;
}

.Introduction_img {
    flex: 1;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Introduction_img>img {
    width: 607px;
    height: 467px;
}

.Introduction_text {
    flex: 1;
}

/* Technolgy Used */

.TechnolgyUsed {
    margin-top: 80px;
}

.TechnolgyUsedHeadline {
    justify-items: left;
}

.TechnolgyUsedHeadline>div {
    justify-items: left;
}

.TechnolgyUsedHeadlineBottom {
    height: 10px;
    background: black;
    width: 185px;
    margin-top: 10px;
}

.TechnolgysBoxs {
    margin-top: 50px;
}

.TechnolgysBoxsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.TechnolgysBox {
    border: 5px solid black;
}

.TechnolgysBoxHeadline {
    border-bottom: 5px solid black;
    padding: 15px 20px;
    font-weight: bold;
}

.TechUsedSingleSkill {
    border: 2px solid;
    border-radius: 0 !important;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.TechnolgysBoxShowPart>.deploymentBox {
    padding: 20px 43px;
}

/* Inspiration */

.InspirationPart {
    min-height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
}

.InspirationSection h1 {
    margin-top: 155px;
    margin-bottom: 70px;
    text-align: center;
}

.InspirationImages_N_Description {
    display: grid;
    gap: 161px;
}

.InspirationImages {
    display: flex;
    gap: 25px;
}

.Inspiration_Image_Div_N_Title {
    flex: 1;
    text-align: center;
}

.Inspiration_Image_Div_N_Title>div {
    margin-bottom: 20px;
}

.InspirationImageMidManager1,
.InspirationImageMidManager2 {
    display: grid;
    justify-items: center;
    height: 100%;
    align-content: center;
    padding: 13px 0;
}

.InspirationImageMidManager1 {
    background: #44CCFF;
}

.InspirationImageMidManager2 {
    background: #33AAFF;
}

.InspirationImageDiv1 {
    width: 34%;
}

.InspirationImageDiv2 {
    width: 56%;
}

.InspirationImageDiv1 img,
.InspirationImageDiv2 img {
    width: 100%;
}


/* Finishing Section */

.FinishingSectionText {
    padding: 200px;
}

.FinishingSectionBottomImage {
    height: 641px;
    background-image: url("../../../public/images/finishingSection/endOfTheDay.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.FinishingSectionFooter {
    background: black;
    color: white;
    text-align: center;
    height: 200px;
    align-content: center;
    font-size: 40px;
    font-weight: bold;
    display: grid;
}



@media screen and (min-width:2150px) {
    .Projects_details_hero_section {
        min-height: 1062px;
    }

    .Projects_details_hero_section>div {
        padding-top: 210px;
    }

    .HR_video video {
        width: 907.19px;
    }

    .HR_text_core>div>h1 {
        font-size: 65.28px;
    }

    .HR_text_headline_bottom_line {
        width: 174.08px;
    }

    .liveView_and_code .source_code {
        width: 500px;
        font-size: 21px;
    }
}

@media screen and (min-width:1500px) {
    .Projects_details_hero_section>div {
        padding-top: 8vw;
    }
}

@media screen and (max-width:1352px) {
    .Introduction_img_text {
        flex-direction: column;
    }

    .Introduction_img>img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:1266px) {
    .HR_text_video {
        padding-top: 10px;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .HR_text_core {
        text-align: center;
        padding: 0 0 80px 0;
    }

    .HR_text_core>div {
        display: grid;
        justify-items: center;
    }

    .HR_text_headline_bottom_line {
        place-self: center;
    }

    .HR_video video {
        height: auto;
    }

    .liveView_and_code {
        justify-items: center;
    }

    .liveView_and_code>a {
        color: #646cff;
    }
}

@media screen and (max-width:1005px) {

    .Projects_details_hero_section,
    .PD_overview,
    .InspirationPart {
        padding: 0 5vw;
    }

    .FinishingSectionText {
        padding: 200px 5vw;
    }

    .FinishingSectionText h1 {
        font-size: 2.5em;
    }

    .HR_video video {
        width: 100%;
    }

    .HR_text_core>div>h1 {
        font-size: 50px;
    }

    .HR_text_headline_bottom_line {
        width: 133px;
    }

    .HR_text_headline_bottom_line {
        width: 158px;
        font-size: 12px;
    }

    .liveView_and_code .source_code {
        width: 50%;
        font-size: 13px;
    }

    .InspirationImages {
        flex-direction: column;
        gap: 90px;
    }
}

@media screen and (max-width:604px) {
    .TechnolgyUsed .TechnolgysBoxsSection {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:500px) {
    .liveView_and_code .source_code {
        width: 230px;
    }
}