.Projects {
    margin-top: 17px;
    min-height: 100vh;
}

.ProjectsHeader {
    height: calc(100vh - 190px);
    color: black !important;
    background: #bccafe12;
    display: grid;
    align-items: center;
    display: none;
}

.ProjectsHeader>div {
    padding-left: 250px;
    padding-right: 250px;
}

.ProjectsHeader>div>h1 {
    text-align: center;
    font-size: 35px;
}

.ProjectsHeader>div>h4 {
    text-align: center;
    font-size: 15px;
    color: #545454;
    margin-top: 10px;
}

.ProjectsListDivHeadline {
    text-align: center;
    gap: 30px;
    display: grid;
    margin: 50px 20px 50px;
}

.ProjectsListDiv {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
}

.projectTypeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
}

.projectTypeButton>button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a00;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
    border: none;
    border-bottom: 2px solid;
    border-radius: 0;
}

.projects_active_btn {
    border: none !important;
    outline: 2px solid;
    border-radius: 3px !important;
}

.WDProjectsList {
    display: grid;
    gap: 50px;
    color: black;
}

.WDProjectsList h1 {
    font-size: 2rem;
    color: #403e3e;
    margin-bottom: 25px;
    margin-top: 20px;
}

.WDProjectsList a {
    color: black !important;
}

.TopProject {
    background: rgb(255, 217, 0);
    background-image: url("../../../public/images/winnerBG.png");
    padding: 40px !important;
    border: none !important;
    box-shadow: 0 0 20px #ffba007d;
}

.WDProject {
    overflow: hidden;
    padding: 20px;
    border: 2px solid black;
}

.WDNormalProject {
    overflow: hidden;
    padding: 0;
    border: 0;
    background: white;
    box-shadow: 0 0 22px -9px #e93bf43b;
}

.WEProjectBtn {
    background: linear-gradient(to right, #7e68f7, #75d3fc);
    color: white;
    border: 0;
    border-radius: 3.1px;
}

.WDProject>div {
    overflow: hidden;
    display: flex;
    background: white;
    border-radius: 20px;
    gap: 20px;
    height: 21rem;
}

.WDProject>div>img {
    width: 100%;
}

.WDNormalProject>div {
    border-radius: 0 !important;
}

.WDProjectImg {
    padding: 0 !important;
}

.WDProjectImg {
    text-align: center;
    height: 100%;
    align-content: center;
}

.WDProjectImg>img {
    height: 100%;
    align-content: center;
}

.WDProject>div>div {
    padding: 50px 20px;
    width: 50%;
}

.WDProject>div>h5 {
    font-weight: 400;
}

.WDProject>div>div>div>h3 {
    color: #4c4c4c;
}

.WDProject>div>div>div>div {
    color: rgb(48, 48, 48);
}

/* for ml projects */
.ProjectsList {
    grid-template-columns: repeat(3, 2fr);
    display: grid;
    gap: 50px;
    color: black;
}

.ProjectsList a {
    color: black !important;
}

.Project {
    overflow: hidden;
}

.Project>img {
    width: 100%;
}

.Project>div {
    background: #00000012;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Project>h5 {
    font-weight: 400;
}

.time-saving-note {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #c5e8ff;
    padding: 20px;
    border-radius: 5px;
}

.time-saving-note>img {
    background-color: #0382ff;
    color: white;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


/* responsive {for tab and laptop}*/

@media screen and (max-width: 1600px) {
    .ProjectsList {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (min-width: 2150px) {
    .ProjectsHeader {
        height: 720px;
    }
}



/* responsive {for phone}*/

@media screen and (max-width: 1005px) {
    .ProjectsListDiv {
        padding: 0;
    }

    .ProjectsList {
        margin: 3%;
        width: auto;
        gap: 80px;
    }

    .ProjectsListDivHeadline {
        margin: 90px 0px;
        padding: 0 30px;
    }
}

/* {for phone but just in carts list} */
@media screen and (max-width: 1100px) {
    .ProjectsList {
        grid-template-columns: repeat(1, 2fr);
    }
}


/* {for common} */
@media screen and (max-width: 1540px) {
    .WDProject>div>div {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 1300px) {
    .WDProject>div {
        display: block;
        height: 100%;
    }

    .WDProject>div>div>img {
        height: 400px;
    }
}

@media screen and (max-width: 1124px) {
    .WDProject>div>div>img {
        height: 35vw;
    }
}

@media screen and (max-width: 855px) {
    .WDProject>div>div>img {
        height: 45vw;
    }
}


@media screen and (max-width: 498px) {
    .WDProjectsList h1 {
        font-size: 1.7rem;
        margin-top: 0;
    }

    .ProjectsListDivHeadline {
        margin: 45px 0px;
        padding: 0 30px;
    }

    .ProjectsListDivHeadline>h1 {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 585px) {
    .projectTypeButton {
        display: grid;
    }
}