.Projects {
    margin-top: 17px;
    min-height: 100vh;
}

.ProjectsHeader {
    height: calc(100vh - 190px);
    color: black !important;
    background: #bccafe12;
    display: grid;
    align-items: center;
    display: none;
}

.ProjectsHeader>div {
    padding-left: 250px;
    padding-right: 250px;
}

.ProjectsHeader>div>h1 {
    text-align: center;
    font-size: 35px;
}

.ProjectsHeader>div>h4 {
    text-align: center;
    font-size: 15px;
    color: #545454;
    margin-top: 10px;
}

.ProjectsListDivHeadline {
    text-align: center;
    gap: 30px;
    display: grid;
    margin: 50px 20px 50px;
}

.ProjectsListDiv {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
}

.projectTypeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
}

.projectTypeButton>button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a00;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
    border: none;
    border-bottom: 2px solid;
    border-radius: 0;
}

.projects_active_btn {
    border: none !important;
    outline: 2px solid;
    border-radius: 3px !important;
}

.WDProjectsList {
    display: grid;
    gap: 50px;
    color: black;
}

.WDProjectsList a {
    color: black !important;
}

.TopProject {
    background: rgb(255, 217, 0);
    background-image: url("../../../public/images/winnerBG.png");
    padding: 40px !important;
    border: none !important;
    box-shadow: 0 0 20px #ffba007d;
}

.WDProject {
    overflow: hidden;
    padding: 20px;
    border: 2px solid black;
}

.WDProject>div {
    overflow: hidden;
    display: flex;
    background: white;
    border-radius: 20px;
    gap: 20px;
}

.WDProject>div>img {
    width: 100%;
}

.WDProject>div>div {
    padding: 20px;
}

.WDProject>div>h5 {
    font-weight: 400;
}

/* for ml projects */
.ProjectsList {
    grid-template-columns: repeat(3, 2fr);
    display: grid;
    gap: 50px;
    color: black;
}

.ProjectsList a {
    color: black !important;
}

.Project {
    overflow: hidden;
}

.Project>img {
    width: 100%;
}

.Project>div {
    background: #00000012;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Project>h5 {
    font-weight: 400;
}




/* responsive {for tab and laptop}*/

@media screen and (max-width: 1600px) {
    .ProjectsList {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (min-width: 2150px) {
    .ProjectsHeader {
        height: 720px;
    }
}



/* responsive {for phone}*/

@media screen and (max-width: 1005px) {
    .ProjectsListDiv {
        padding: 0;
    }

    .ProjectsList {
        margin: 3%;
        width: auto;
        gap: 80px;
    }

    .ProjectsListDivHeadline {
        margin: 90px 0px;
        padding: 0 30px;
    }
}

/* {for phone but just in carts list} */
@media screen and (max-width: 1100px) {
    .ProjectsList {
        grid-template-columns: repeat(1, 2fr);
    }
}