.ProjectsHeader{
    height: calc(100vh - 190px);
    color: black;
    background: #bccafe12;
    display: grid;
    align-items: center;
}
.ProjectsHeader > div{
    padding-left: 250px;
    padding-right: 250px;
}
.ProjectsHeader > div >h1{
    text-align: center;
    font-size: 35px;
}
.ProjectsHeader > div >h4{
    text-align: center;
    font-size: 15px;
    color: #545454;
    margin-top: 10px;
}
.ProjectsListDivHeadline{
    text-align: center;
    gap: 30px;
    display: grid;
    margin: 90px;
}
.ProjectsListDivHeadline > h5{
    font-weight: 400;
    font-size: 15px;
}
.ProjectsListDiv{
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
}
.ProjectsList{
    grid-template-columns: repeat(3, 2fr);
    display: grid;
    gap: 50px;
}
.Project{
    overflow: hidden;
}
.Project > img{
    width: 100%;
}
.Project > div{
    background: #00000012;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.Project > h5{
    font-weight: 400;
}





/* responsive */

@media screen and (min-width: 2150px) {
    .ProjectsHeader{
        height: 720px;
    }
}