.SkillsListDivHeadline {
    text-align: center;
    gap: 50px;
    display: grid;
    margin: 50px 20px 0px;
}

.SkillsListDivHeadline>.SkillsPageHeadline {
    display: grid;
    gap: 15px;
}

.SkillsListDiv {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 50px;

}

.skillsBoxTitle {
    width: max-content;
    padding: 5px 15px 5px 0;
}

.skillsBoxTitle>h1 {
    font-size: 2rem !important;
    color: #464646 !important;
}

.SkillsTypeSeletionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.SkillsTypeSeletionButton>img {
    width: 12px;
}

.stagesOfSkills {
    display: grid;
    gap: 20px;
}

.skillsBoxSkills {
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ededed;
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 10fr 2fr;
}

.skillsHeadRow {
    border-radius: 20px;
    display: flex;
    gap: 20px;
    padding: 0 0 0 20px;
    background: #423a3a33;
    color: #000000;
}

.skillsHeadColumn {
    align-items: center;
    padding: 0;
    flex-direction: column;
    padding: 20px;
    background: #6C757D;
    color: white;
}

.skillsHeadRow>h4 {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 7%;
    rotate: -90deg;
    font-size: 1.3rem;
}

.skillsHeadColumn>h4 {
    rotate: none !important;
}

.bg-RoyalBlue {
    background: #007BFF !important;
}

.bg-DeepPurple {
    background: #6F42C1 !important;
}

.bg-EmeraldGreen {
    background: #28A745 !important;
}

.bg-AmberYellow {
    background: #FFC107 !important;
}

.bg-SkyBlue {
    background: #17A2B8 !important;
}

.bg-WarmRed {
    background: #DC3545 !important;
}

.bg-SunsetOrange {
    background: #FD7E14 !important;
}

.skillsCartSingleColumn {
    border-radius: 20px;
    color: white;
}

.skillsCartSingleColumn>h3 {
    padding: 20px 0 0 20px !important;
    text-align: left !important;
    margin: 0 !important;
    color: white !important;
}

.allSkills {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 20px;
    width: -webkit-fill-available;
}

.allSkillsInSub {
    padding: 10px 20px;
}

.skillsBoxDualColumn {
    background: none !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    padding: 20px !important;
    margin: 0 !important;
    gap: 20px !important;
}

.singleSkill {
    background: white;
    color: black;
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.skillsHeadColumn .singleSkill {
    width: -webkit-fill-available;
    justify-content: space-between;
}

.singleSkill>div {
    font-weight: bold;
}

.singleSkill>img {
    background: white;
    width: 40px;
    border-radius: 20px;
    aspect-ratio: 3 / 3;
}