*{
  margin: 0;
  padding: 0;
}
.completePage{
  max-width: 2150px;
  text-align: left;
  background: white;
  color: black;
}
.h60{
  height: 60px;
}

.d-none{
  display: none !important;
}

.bg-yellow{
  background: #f3e11d !important;
}

.m-0{
  margin: 0 !important;
}